.ui.cards > .card {
    width: 271px !important;
}

.content {
    width: 100%;
}

.inverted.button {
    width: 50%;
    margin: .75em;
}

.container {
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap
}

label {
    margin: 10rem .5rem .5rem;
}

input {
    margin: .5rem .5rem 1rem .5rem !important;
}

.w100 {
        width: 100% !important;
        min-width: 100px;
    }

@media only screen and (max-width: 584px) {
    .ui.cards > .card {
        width: 100% !important;
    }

    .w70 {
        width: 100% !important;
    }

    .w30 {
        width: 100% !important;
    }

    img {
        height: 20em !important;
        object-fit: cover !important;
    }
}

@media only screen and (min-width: 585px) {
    img {
        height: 15em !important;
        object-fit: cover !important;
    }

    .w70 {
        width: 70% !important;
        min-width: 100px;
    }

    .w30 {
        width: 20% !important;
        min-width: 100px;
    }
}

