.tags {
    padding: .3em;
    margin: 0 .3em 0 0;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    border-radius: .3rem;
    text-align: center;
    outline: #626262 solid 1px;
}

.tags:hover {
    background-color: rgb(210, 210, 210);
    outline: transparent;
}


/*
Tag Selected
*/

.tags.selected {
    background-color: rgba(255, 81, 26, 0.5);
    outline: transparent
}

.tags.selected:hover {
    background-color: rgb(255, 81, 26);
    outline: transparent;
}


/*
Tag Specific
*/

.Python.selected {
    background-color: rgba(138, 169, 14, 0.5);
    outline: transparent;
}

.Python.selected:hover,
.Python:hover {
    background-color: rgb(138, 169, 14);
    outline: transparent;
}


.Game.selected {
    background-color: rgba(167, 26, 59, 0.53);
    outline: transparent;
}

.Game.selected:hover,
.Game:hover {
    background-color: rgb(167, 26, 59);
    outline: transparent;
}


.Java.selected {
    background-color: rgba(255, 255, 0, 0.5);
    outline: transparent;
}

.Java.selected:hover,
.Java:hover {
    background-color: rgb(255, 255, 0);
    outline: transparent;
}


.FiveM.selected {
    background-color: rgba(255, 166, 0, 0.5);
    outline: transparent;
}

.FiveM.selected:hover,
.FiveM:hover {
    background-color: rgb(255, 166, 0);
    outline: transparent;
}


.Lua.selected {
    background-color: rgba(0, 0, 255, 0.33);
    outline: transparent;
}

.Lua.selected:hover,
.Lua:hover {
    background-color: rgba(0, 0, 255, 0.67);
}


.Bot.selected {
    background-color: rgba(72, 73, 60, 0.5);
    outline: transparent;
}

.Bot.selected:hover,
.Bot:hover {
    background-color: rgb(72, 73, 60);
    outline: transparent;
}


.Discord.selected {
    background-color: rgba(114, 137, 218, 0.5);
    outline: transparent;
}

.Discord.selected:hover,
.Discord:hover {
    background-color: rgb(114, 137, 218);
    outline: transparent;
}


.Web.selected {
    background-color: rgba(245, 159, 255, 0.5);
    outline: transparent;
}

.Web.selected:hover,
.Web:hover {
    background-color: rgb(245, 159, 255);
    outline: transparent;

}


.Android.selected {
    background-color: rgba(164, 198, 57, 0.5);
    outline: transparent;
}

.Android.selected:hover,
.Android:hover {
    background-color: rgb(164, 198, 57);
    outline: transparent;

}


.Kotlin.selected {
    background-color: rgba(226, 68, 98, 0.5);
    outline: transparent;
}

.Kotlin.selected:hover,
.Kotlin:hover {
    background-color: rgb(226, 68, 98);
    outline: transparent;

}

/* TypeScript */
.TS.selected {
    background-color: rgba(0, 122, 204, 0.5);
    outline: transparent;
}

.TS.selected:hover,
.TS:hover {
    background-color: rgb(0, 122, 204);
    outline: transparent;

}


.JS.selected {
    background-color: rgba(239, 214, 49, 0.53);
    outline: transparent;
}

.JS.selected:hover,
.JS:hover {
    background-color: rgb(239, 214, 49);
    outline: transparent;
}